.answerItem {
  border-radius: 10px;
  padding: 20px;
  border: 1px solid lightgrey;
  width: 100%;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.answerItem:hover {
  border: 1px solid rgba(0, 227, 184, 1);
  background: rgba(0, 227, 184, 0.1);
}
